.portfolio__buttons {
    margin: 24px 0 0 0;
    /* max-width: 958px; */
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-wrap: wrap;
    gap: 0px 10px;
}

.portfolio__button {
    @include font (400, 64px, 28px);
    width: 272px;
    height: 64px;
    font-family: 'MonteCarlo';
    padding: 14px 0 18px 0;
    text-align: center;
    background-color: #EAEAE3;
    color: #77060C;
    border-left: 3px solid #77060C;
    border-right: 3px solid #77060C;
}

.portfolio__button_active {
    background-color: #C8C1BB;
}

.page__button {
    @include font (400, 18px, 22px);
    display: block;
    box-sizing: border-box;
    background-color: #F7F0E4;
    color: #000;;
    padding: 10px 0 16px 0;
    width: 180px;
    height: 50px;
    transition: 1s all ease-in-out;
}

.page__button {
    margin: 17px auto 0 auto;
    color: $text-color;
    transition: 1s all;
    &:hover {
        background-color: #ffd3a0;
        color: #ffffff;
    }
}

@media (max-width: 900px) {
    .portfolio__buttons {
        margin: 24px 0 0 0;
        /* max-width: 958px; */
        display: flex;
        justify-content: center;
        align-items: baseline;
        flex-wrap: wrap;
        gap: 0px 10px;
    }
}
@media (max-width: 500px) {
    .portfolio__buttons {
        margin: 20px 0 0 0;
        gap: 0;
    }
    .portfolio__button:first-child {
        border-bottom: 3px solid #77060C;
    }
}
